{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 5%">
    <h1 class="text-center">Wszystkie korpusy</h1>
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Autor</th>
            <th>Nazwa</th>
            <th>Liczba tematów</th>
            <th>Data utworzenia</th>
        </tr>
        </thead>
        <tbody style="cursor: pointer" data-link="row" class="rowlink">
        {% for corpus in allCorpuses %}
        <tr>
            <td><a href="/presentation/{{ corpus.id }}/" onclick="setDataDirectroy(this)">{{ corpus.id }}</a></td>
            <td>{{ corpus.Autor }}</td>
            <td>{{ corpus.Nazwa_korpusu }}</td>
            <td>{{ corpus.Ilość_tematów }}</td>
            <td>{{ corpus.uploaded_at }}</td>
            <td>
                <button class="rowlink-skip" data-toggle="modal" data-target="#details{{ corpus.id }}">Opis</button>
            </td>

              <!-- Modal -->
            <div id="details{{ corpus.id }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ corpus.id }}. {{ corpus.Nazwa_korpusu }}</h4>
                        </div>
                        <div class="well">
                                <h5>{{ corpus.Opis_korpusu }}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"><a href="/presentation/{{ corpus.id }}/"> Przejdź do korpusu</a></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>

                </div>
            </div>

        </tr>
        {% endfor %}
        </tbody>
    </table>



</div>

{% endblock %}