{% extends 'base.html' %}

{% block content %}
<div id="box-wrapper">
    <div class="container">
        <div class="row">
            <h3 class="jumbotron">Topic Modeling System</h3>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center">Ostatnio dodane korpusy </h1>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Autor</th>
            <th>Nazwa</th>
            <th>Liczba tematów</th>
            <th>Data utworzenia</th>
        </tr>
        </thead>
        <tbody style="cursor: pointer" data-link="row" class="rowlink">
       {% for corpus in last_ten %}
        <tr>
            <td><a href="/presentation/{{ corpus.id }}/" onclick="setDataDirectroy(this)">{{ corpus.id }}</a></td>
            <td>{{ corpus.Autor }}</td>
            <td>{{ corpus.Nazwa_korpusu }}</td>
            <td>{{ corpus.Ilość_tematów }}</td>
            <td>{{ corpus.uploaded_at }}</td>
            <td>
                <button class="rowlink-skip" data-toggle="modal" data-target="#details{{ corpus.id }}">Opis</button>
            </td>

              <!-- Modal -->
            <div id="details{{ corpus.id }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ corpus.id }}. {{ corpus.Nazwa_korpusu }}</h4>
                        </div>
                        <div class="well">
                                <h5>{{ corpus.Opis_korpusu }}</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"><a href="/presentation/{{ corpus.id }}/"> Przejdź do korpusu</a></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>

                </div>
            </div>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <div type="button" class="btn btn-primary"><a href="all">Wszystkie korpusy</a></div>
    </div>


</div>
<br>
<div id="howitworks" class="text-center">
    <h1 >Jak to działa</h1>
    <h4>Krótki opis jak należy korzystać z aplikacji</h4>
</div>
<br>
<div id="aboutUs" class="text-center">
    <h1>O nas</h1>
    <h4>Aplikacja została stworzona przez studentów Politechniki Wrocławskiej na potrzeby przedmiotu Zastosowania informatyki w gospodarce</h4>
</div>

{% endblock %}